<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TESTING SYSTEM | GLOBAL ADMIN", "Index", "Role", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Role")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div>
        <div id="alert-content" class="alert-info body-content">

        </div>
        <div class="col-md-2 col-sm-2 col-2">
                @Html.ActionLink(linkText: "Roles", actionName: "Index", controllerName: "Role") <br/>
                @Html.ActionLink(linkText: "Specializations", actionName: "Index", controllerName: "Specialization")<br />
                @Html.ActionLink(linkText: "Subjects", actionName: "Index", controllerName: "Subject")<br />
                @Html.ActionLink(linkText: "Education units", actionName: "Index", controllerName: "EducationUnit")<br />
                @Html.ActionLink(linkText: "Groups", actionName: "Index", controllerName: "Group")<br />
                @Html.ActionLink(linkText: "Admins", actionName: "Index", controllerName: "Admin")<br />
                @Html.ActionLink(linkText: "Teachers", actionName: "Index", controllerName: "Teacher")<br />
                @Html.ActionLink(linkText: "Question images", actionName: "Index", controllerName: "Image") <br />
                @Html.ActionLink(linkText: "Profile", actionName: "Profile", controllerName: "AdminContent") <br />
        </div>
        <div class="col-md-10 col-sm-10 col-10">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Testing System Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>