@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        if (User.IsInRole("Student"))
        {
            @User.Identity.GetUserName()
        }
        else if (User.IsInRole("Global Admin"))
        {
            <label>@User.Identity.GetUserName()</label>
        }
        else if (User.IsInRole("Teacher"))
        {
            @Html.ActionLink(User.Identity.GetUserName(), "Profile", "TeacherContent", routeValues: null, htmlAttributes: new { title = "Manage" })
        }
        else if (User.IsInRole("Education Unit Admin"))
        {
            @Html.ActionLink(User.Identity.GetUserName(), "Profile", "AdminContent", routeValues: null, htmlAttributes: new { title = "Manage" })
            @Html.ActionLink("Sign out", "Logout", "Account")
        }
        @*<li>@Html.ActionLink("Sign out", "Logout", "Account")</li>*@
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}