@{
    ViewBag.Title = "Students";
    if (User.IsInRole("Education Unit Admin"))
    {
        Layout = "~/Views/Shared/_UnitAdminLayout.cshtml";
    }
    if (User.IsInRole("Global Admin"))
    {
        Layout = "~/Views/Shared/_GlobalAdminLayout.cshtml";
    }
    if (User.IsInRole("Teacher"))
    {
        Layout = "~/Views/Shared/_TeacherLayout.cshtml";
    }
}
<h2>Students</h2>
<input type="text" id="filter-input" class="form-control" />
<div id="partial-content">
</div>
@section Scripts{
    <script src="@Url.Content("~/Scripts/bootstrap-notify.min.js")"></script>

    <script type="text/javascript">
        $(function () {
            $("#partial-content").load("@Url.Action("PartialIndex", "Student")");

            $("body").on("click", ".btn-delete", function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete", "Student")",
                    data: { id: $(this).attr("data-id") },
                    success: function (data) {
                        $("#partial-content").load("@Url.Action("PartialIndex", "Student")");
                        //$("#alert-content").empty();
                        //$("#alert-content").append(data);
                        //setTimeout(function () {
                        //    $("#alert-content").empty();
                        //}, 3500);
                        $.notify({
	                        message: data
                        },{
	                        type: 'success'
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $.notify({
	                        message: "An error occured while processing your request"
                        },{
	                        type: 'danger'
                        });
                    }
                });
            });

            $("body").on("keypress", "#filter-input", function (e) {
                if (e.which == 13)
                    $("#partial-content").load("@Url.Action("PartialIndex", "Student")", { filter: $(this).val() });
            });
        });

    </script>
}