@model IEnumerable<TestingSystem.BOL.Model.GroupDTO>

<p>
    @Html.ActionLink("Create New", "Edit", new { id = 0 })
</p>
@if (Model.Count() != 0)
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Users", "Users", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn-delete", data_id = item.Id })
            </td>
        </tr>
    }

</table>
}
else
{
    <div class="alert-info">
        No groups
    </div>
}
