@model TestingSystem.Web.Models.ViewModels.GroupDetailsViewModel

@{
    ViewBag.Title = "Details";
    //if (User.IsInRole("Education Unit Admin"))
    //{
    //    Layout = "~/Views/Shared/_UnitAdminLayout.cshtml";
    //}
    //if (User.IsInRole("Global Admin"))
    //{
    //}
    Layout = "~/Views/Shared/_GlobalAdminLayout.cshtml";
}

<h2>Group @Model.Group.GroupName Students</h2>
<hr />
@Html.ActionLink("Create new", "Create", "Student", new { })

@if (Model.Students != null && Model.Students.Count() != 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Email")
            </th>
            <th>
                @Html.DisplayName("FirstName")
            </th>
            <th>
                @Html.DisplayName("LastName")
            </th>
            <th>
                @Html.DisplayName("SpecializationName")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecializationName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Student", new { id = item.Id }, new { }) |
                    @Html.ActionLink("Delete", "Delete", "Student", new { id = item.Id }, new { @class = "btn-delete", data_id = item.Id })
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="alert-info">
        No users
    </div>
}

<p>
    @Html.ActionLink("Edit group", "Edit", new { id = Model.Group.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("body").on("click", ".btn-delete", function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete", "Student")",
                    data: { id: $(this).attr("data-id") },
                success: function (data) {
                    window.location.reload(true);
                }
            });
        });
        });
    </script>
}