@model TestingSystem.Web.Models.ViewModels.GroupDetailsViewModel
@{
    ViewBag.Title = "Details";
    //if (User.IsInRole("Education Unit Admin"))
    //{
    //    Layout = "~/Views/Shared/_UnitAdminLayout.cshtml";
    //}
    //if (User.IsInRole("Global Admin"))
    //{
    //}
    Layout = "~/Views/Shared/_GlobalAdminLayout.cshtml";
}
<h2>Group @Model.Group.GroupName Teachers</h2>
<hr />
@Html.ActionLink("Add teacher", "AddTeacher", new { id = Model.Group.Id }, new { @class = "btn btn-primary" })

@if (Model.Teachers != null && Model.Teachers.Count() != 0)
{
    <div class="row">
        <div class="col-md-12">
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Email")
                            </th>
                            <th>
                                @Html.DisplayName("FirstName")
                            </th>
                            <th>
                                @Html.DisplayName("LastName")
                            </th>
                            <th>
                                @Html.DisplayName("SpecializationName")
                            </th>
                            <th>
                                @Html.DisplayName("Subject")
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Teachers)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SpecializationName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubjectName)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit teacher", "Edit", "Teacher", new { id = item.TeacherId }, new { }) |
                                    @Html.ActionLink("Delete teacher", "DeleteTeacher", "Group", routeValues: new { id = item.Id }, htmlAttributes: null)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-info">
        No teachers
    </div>
}
<p> @Html.ActionLink("Edit group", "Edit", new { id = Model.Group.Id }) | @Html.ActionLink("Back to List", "Index") </p>