@model TestingSystem.Web.Models.ViewModels.EducationUnitGroupsViewModel

@{
    ViewBag.Title = "Users";
    //if (User.IsInRole("Education Unit Admin"))
    //{
    //    Layout = "~/Views/Shared/_UnitAdminLayout.cshtml";
    //}
    //if (User.IsInRole("Global Admin"))
    //{
    //}
    Layout = "~/Views/Shared/_GlobalAdminLayout.cshtml";
}

<h2>@Model.EducationUnit.EducationUnitName Groups</h2>
<hr />

<div id="partial-content">
</div>

<p>
    @Html.ActionLink("Edit education unit", "Edit", new { id = Model.EducationUnit.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#partial-content").load("@Url.Action("PartialIndex", "Group", new { filter = Model.EducationUnit.EducationUnitName})");

            $("body").on("click", ".btn-delete", function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete", "Group")",
                    data: { id: $(this).attr("data-id") },
                    success: function (data) {
                        $("#partial-content").load("@Url.Action("PartialIndex", "Group")");
                        $("#div-info").empty();
                        $("#div-info").append(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("An error occured while processing request");
                    }
                });
            });

            $("body").on("keypress", "#filter-input", function (e) {
                if (e.which == 13)
                    $("#partial-content").load("@Url.Action("PartialIndex", "Group")", { filter : $(this).val()});
            });
        });

    </script>
}
