@model IEnumerable<TestingSystem.BOL.Model.EducationUnitDTO>

<p>
    @Html.ActionLink("Create New", "Edit", new { id = 0 }, new { })
</p>
@if (Model.Count() != 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EducationUnitName)
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EducationUnitName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { }) |
                    @Html.ActionLink("Groups", "Groups", new { id = item.Id }, new { }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn-delete", data_id = item.Id })
                </td>
            </tr>
        }

    </table>
}
else
{
    <div class="alert-info">
        No education units
    </div>
}

