@model IEnumerable<TestingSystem.BOL.Model.EducationUnitDTO>
@if (User.IsInRole("Global Admin"))
{
    <br />
    <p> @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" }) </p>
}
@if (Model.Count() != 0)
{
    <div class="row">
        <div class="col-md-12">
            <div class="card-body table-full-width table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.EducationUnitName)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EducationUnitName)
                                </td>
                                <td align="center">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { }) |
                                    @Html.ActionLink("Groups", "Groups", new { id = item.Id }, new { }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn-delete", data_id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert-info">
        No education units
    </div>
}