@model TestingSystem.BOL.Model.TeacherDTO
@{ ViewBag.Title = "Edit"; Layout = "~/Views/Shared/_TeacherLayout.cshtml"; }
<link href="@Url.Content("~/Design/ProfilePage/css/profile.css")" rel="stylesheet" />
<script src="@Url.Content("~/Design/adminForm/vendor/jquery-3.2.1.min.js")"></script>
<div class="container emp-profile">
    <hr /><br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.SubjectId)
        @Html.HiddenFor(model => model.EducationUnitId)
        @Html.HiddenFor(model => model.SpecializationId)
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="@Url.Content("~/Design/adminForm/images/icon/education-system-logo_dribbble.png")" alt="" />
                    <div class="file btn btn-lg btn-primary">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input type="file" name="file" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
                    </h5>
                    <h6>
                        Teacher in @Html.DisplayFor(model => model.EducationUnitName)
                    </h6>
                    <br />
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a href="@Url.Action("Profile","TeacherContent")" class="nav-link" aria-selected="false">BACK</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="manage-tab" data-toggle="tab" role="tab" aria-controls="manage" aria-selected="true">Manage my account</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>WORK LINK</p>
                    <a href="https://docs.microsoft.com/ru-ru/dotnet/csharp/">Microsoft MSDN .NET</a><br />
                    <a href="https://developers.facebook.com">Facebook for Developers</a>
                    <a href="https://developers.google.com">Google Developers</a>
                    <p>SKILLS</p>
                    <a style="pointer-events: none;">@Html.DisplayFor(skill => skill.SpecializationName)</a><br />
                    <a style="pointer-events: none;">@Html.DisplayFor(skill => skill.SubjectName)</a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="manage" role="tabpanel" aria-labelledby="manage-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "text", @name = "email" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>First Name</label>
                            </div>
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @type = "text", @name = "firstName" } })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Last Name</label>
                            </div>
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @type = "text", @name = "lastName" } })
                            </div>
                        </div><br />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="profile-edit-btn" style="background-color: #4272D7; color: white;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <hr />
</div>