@model IEnumerable<TestingSystem.BusinessModel.Model.GroupDTO>

@{
    ViewBag.Title = "Groups";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<h2>Groups</h2>
@if (Model.Count() != 0)
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecializationName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecializationName)
        </td>
        <td>
        <td>
            @Html.ActionLink("Students", "Students", new { id = item.Id }) 
        </td>
    </tr>
}

</table>
}
else
{
    <div class="alert alert-info">
        No groups
    </div>
}
