@model IEnumerable<TestingSystem.BOL.Model.StudentDTO>

@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<h2>@ViewBag.GroupName Students</h2>

@Html.ActionLink("Add student", "Create", "Student")

@if (Model.Count() != 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecializationName)
            </th>
            <th />
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecializationName)
                </td>
                <td>
                    @Html.ActionLink("History", "History", controllerName: "Student", routeValues: new { id = item.Id }, htmlAttributes: null)
                </td>
            </tr>
        }

    </table>
}
else
{
    <div class="alert alert-info">
        No students
    </div>
}
@Html.RouteLink("Back", routeName: "TeacherContent")