@model TestingSystem.Web.Models.ViewModels.EditStudentViewModel
    @{ ViewBag.Title = "Edit"; Layout = "~/Views/Shared/_StudentLayout.cshtml"; }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="content">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Student.Id)
            @Html.HiddenFor(model => model.Student.EducationUnitId)
            @Html.HiddenFor(model => model.Student.GroupId)
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">E D I T</h4>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-5 pr-1">
                                            <div class="form-group">
                                                <label>Education Unit</label>
                                                <input type="text" class="form-control" disabled="disabled" placeholder="Company" value="@Html.DisplayFor(model => model.Student.EducationUnitName)">
                                            </div>
                                        </div>
                                        <div class="col-md-3 px-1">
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input type="text" class="form-control" disabled="disabled" placeholder="Username" value="@Html.DisplayFor(model => model.Student.Email)">
                                            </div>
                                        </div>
                                        <div class="col-md-4 pl-1">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                @Html.EditorFor(model => model.Student.Email, new { htmlAttributes = new { @class = "form-control", type = "email" } })
                                                @Html.ValidationMessageFor(model => model.Student.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pr-1">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                @Html.EditorFor(model => model.Student.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Student.FirstName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 pl-1">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                @Html.EditorFor(model => model.Student.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Student.LastName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Two factor email authentication</label>
                                                @Html.EditorFor(m => m.IsTwoFactorEnabled)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>INFORMATION FOR ADMINISTRATION</label>
                                                <input type="text" class="form-control" disabled="disabled" placeholder="INFO" value="HIDDEN">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 pr-1">
                                            <div class="form-group">
                                                <label>Group of Education Branch</label>
                                                <input type="text" class="form-control" disabled="disabled" placeholder="City" value="@Html.DisplayFor(model => model.Student.GroupName).ToString().ToUpper()">
                                            </div>
                                        </div>
                                        <div class="col-md-4 px-1">
                                            <div class="form-group">
                                                <label>Country of Education Branch</label>
                                                <input type="text" class="form-control" disabled="disabled" placeholder="Country" value="UA/RU/EU">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>About Me</label>
                                                <textarea rows="4" cols="80" disabled="disabled" class="form-control" placeholder="Here can be your description" value="Mike">
@Html.DisplayFor(model => model.Student.FirstName) @Html.DisplayFor(model => model.Student.LastName), i am student of @Html.DisplayFor(model => model.Student.EducationUnitName), listener @Html.DisplayFor(model => model.Student.GroupName), my direction @Html.DisplayFor(model => model.Student.SpecializationName) in Academy Branch @Html.DisplayFor(model => model.Student.EducationUnitName).</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <button type="submit" class="btn btn-info btn-fill pull-right" id="submit" onclick="submitLimit()">Update Profile</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-user">
                            <div class="card-image">
                                <img src="@Url.Content("~/Design/studentRSS/assets/img/profileImage-min.jpg")" alt=" ">
                            </div>
                            <div class="card-body">
                                <div class="author">
                                    <a href="#">
                                        <img class="avatar border-gray" src="@Url.Content("~/Design/ProfilePage/img/teacherLogo.jpg")" alt="...">
                                        <h5 class="title">@Html.DisplayFor(model => model.Student.FirstName).ToString().ToUpper() @Html.DisplayFor(model => model.Student.LastName).ToString().ToUpper()</h5>
                                    </a>
                                    <p class="description">
                                        @Html.DisplayFor(model => model.Student.Email).ToString().ToUpper()
                                    </p>
                                </div>
                                <p class="description text-center">
                                    @Html.DisplayFor(model => model.Student.EducationUnitName).ToString().ToUpper()
                                    <br />
                                    @Html.DisplayFor(model => model.Student.SpecializationName)
                                    <br />
                                    @Html.DisplayFor(model => model.Student.GroupName)
                                </p>
                            </div>
                            <hr>
                            <div class="button-container mr-auto ml-auto">
                                <button href="@Url.Action("Profile","StudentContent")" class="btn btn-simple btn-link btn-icon">
                                    <i class="fa fa-facebook-square"></i>
                                </button>
                                <button href="@Url.Action("Profile","StudentContent")" class="btn btn-simple btn-link btn-icon">
                                    <i class="fa fa-twitter"></i>
                                </button>
                                <button href="@Url.Action("Profile","StudentContent")" class="btn btn-simple btn-link btn-icon">
                                    <i class="fa fa-google-plus-square"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div>
        <a href="@Url.Action("Profile","StudentContent")" class="btn btn-primary">BACK</a>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">
            function submitLimit() {
                var btn = document.getElementById('submit')
                setTimeout(function () {
                    btn.setAttribute('disabled', 'disabled');
                }, 1);

                setTimeout(function () {
                    btn.removeAttribute('disabled');
                }, 10000);
            }
        </script>
    }