@model IEnumerable<TestingSystem.BOL.Model.StudentDTO>
@{ ViewBag.Title = "Group"; Layout = "~/Views/Shared/_StudentLayout.cshtml"; }
<link href="@Url.Content("~/Design/studentRSS/moduleGridRSS/module.css")" rel="stylesheet" />
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="@Url.Content("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="@Url.Content("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")">
</head>
<body>
    <section class="team">
        <div class="container">
            <h1>G R O U P</h1>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 profile text-center">
                        <div class="img-box">
                            <img src="@Url.Content("~/Design/studentRSS/moduleGridRSS/imgStd/studentRSSImg.png")" class="img-responsive">
                            <h2>@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</h2>
                            <h3>@Html.DisplayFor(modelItem => item.GroupName)</h3>
                        </div>
                        <p><a href="mailto:@item.Email"><i class="fa fa-envelope" aria-hidden="true" style="color: black;"></i></a></p>
                    </div>
                }
            </div>
        </div>
    </section>
</body>