@model IEnumerable<TestingSystem.BOL.Model.StudentTestResultDTO>
@{ ViewBag.Title = "History"; Layout = "~/Views/Shared/_StudentLayout.cshtml"; }
@if (Model.Count() != 0)
{
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-plain table-plain-bg">
                        <div class="card-header">
                            <h4 class="card-title">History</h4>
                        </div>
                        <div class="card-body table-full-width table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.SubjectName)</th>
                                        <th>@Html.DisplayNameFor(model => model.TestName)</th>
                                        <th>@Html.DisplayNameFor(model => model.Result)</th>
                                        <th>@Html.DisplayNameFor(model => model.StartDate)</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.SubjectName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.TestName)</td>
                                            <td>@item.Result / @item.QuestionCount</td>
                                            <td>@Html.DisplayFor(modelItem => item.StartDate.Date)</td>  
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="alert alert-info"> No history </div>
}