@model TestingSystem.Web.Models.ViewModels.ParticipateViewModel
@{
    ViewBag.Title = "Participate";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    int secondsRemaining = (int)(Model.EndTime - DateTime.Now).TotalSeconds;
}
@using (Html.BeginForm())
{
    <h3 id="countdown"></h3>
    <div class="container">
        @Html.HiddenFor(model => model.Length)
        @Html.HiddenFor(model => model.SubjectId)
        @Html.HiddenFor(model => model.GroupInTestId)
        @Html.HiddenFor(model => model.StudentId)
        @Html.HiddenFor(model => model.QuestionCount)
        @Html.HiddenFor(model => model.EndTime)
        @Html.HiddenFor(model => model.StartTime)

        @for (int i = 0; i < Model.QuestionCount; i++)
        {
            <div class="row">
                @Html.HiddenFor(model => model.QuestionAnswers[i].Question.Id)
                @Html.HiddenFor(model => model.QuestionAnswers[i].Question.QuestionString)
                @Html.HiddenFor(model => model.QuestionAnswers[i].Question.ImagePath)
                <div class="col-md-7 col-sm-7">
                    <pre>@Model.QuestionAnswers[i].Question.QuestionString</pre>
                    @for (int j = 0; j < Model.QuestionAnswers[i].Answers.Count; j++)
                    {
                        <div class="row">
                            @Html.HiddenFor(model => model.QuestionAnswers[i].Answers[j].Id)
                            @Html.HiddenFor(model => model.QuestionAnswers[i].Answers[j].IsCorrect)
                            @Html.HiddenFor(model => model.QuestionAnswers[i].Answers[j].AnswerString)
                            @switch (Model.QuestionAnswers[i].QuestionType)
                            {
                                case TestingSystem.Web.Models.ViewModels.QuestionType.ManyAnswersManyCorrect:
                                    @Html.CheckBoxFor(model => model.QuestionAnswers[i].Answers[j].PickedCheckbox.Checked)
                                    @Html.HiddenFor(model => model.QuestionAnswers[i].Answers[j].PickedCheckbox.AnswerId, new { Value = $"{Model.QuestionAnswers[i].Answers[j].Id}" })
                                    <label>@Model.QuestionAnswers[i].Answers[j].AnswerString </label>
                                    break;
                                case TestingSystem.Web.Models.ViewModels.QuestionType.ManyAnswersOneCorrect:
                                    @Html.RadioButtonFor(model => Model.QuestionAnswers[i].AnswerId, Model.QuestionAnswers[i].Answers[j].Id)
                                    <label>@Model.QuestionAnswers[i].Answers[j].AnswerString </label>
                                    break;
                                case TestingSystem.Web.Models.ViewModels.QuestionType.OneAnswerOneCorrect:
                                    @Html.EditorFor(model => model.QuestionAnswers[i].AnswerString, new { htmlAttributes = new { @class = "form-group" } })
                                    break;
                            }
                        </div>
                    }
                </div>
                <div class="col-md-5 col-sm-5">
                    <img src="@Model.QuestionAnswers[i].Question.ImagePath" style="max-height: 350px; max-width: 350px;" />
                </div>
            </div>
            <hr />
        }
        <input type="submit" value="Submit" id="btn-submit" onclick="btnLimiter()">
    </div>
}
@section Scripts {
    <script type="text/javascript">
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.text(minutes + ":" + seconds);

                if (--timer < 0) {
                    timer = duration;
                }
            }, 1000);
        }

        $(function () {
            var seconds = @secondsRemaining;
            startTimer(seconds,  $('#countdown'));
            setTimeout(function(){
                $("form").submit();
            }, seconds * 1000);


            $("#btn-submit").click(function(e){
                if(!confirm("Are tou sure want to end?"))
                    e.preventDefault();
                else

            });
        });

        function btnLimiter() {
            var btn = document.getElementById('btn-submit')
            setTimeout(function () {
                btn.setAttribute('disabled', 'disabled');
            }, 1);

            setTimeout(function () {
                btn.removeAttribute('disabled');
            }, 10000);
        }
    </script>
}