@model TestingSystem.Web.Models.ViewModels.EditStudentViewModel
@{ ViewBag.Title = "Profile"; Layout = "~/Views/Shared/_StudentLayout.cshtml"; }
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Profile</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-5 pr-1">
                                    <div class="form-group">
                                        <label>Education Unit</label>
                                        <input type="text" class="form-control" disabled="disabled" placeholder="Company" value="@Html.DisplayFor(model => model.Student.EducationUnitName)">
                                    </div>
                                </div>
                                <div class="col-md-3 px-1">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" class="form-control" disabled="disabled" placeholder="Username" value="@Html.DisplayFor(model => model.Student.Email)">
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" disabled="disabled" placeholder="Email" value="@Html.DisplayFor(model => model.Student.Email)">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" disabled="disabled" placeholder="Company" value="@Html.DisplayFor(model => model.Student.FirstName)">
                                    </div>
                                </div>
                                <div class="col-md-6 pl-1">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" disabled="disabled" placeholder="Last Name" value="@Html.DisplayFor(model => model.Student.LastName)">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>INFORMATION FOR ADMINISTRATION</label>
                                        <input type="text" class="form-control" disabled="disabled" placeholder="INFO" value="ACC_ID: @Html.DisplayFor(model => model.Student.Id), ED_ID: @Html.DisplayFor(model => model.Student.EducationUnitId), GR_ID @Html.DisplayFor(model => model.Student.GroupId)">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Two factor email authentication</label>
                                        @Html.DisplayFor(m => m.IsTwoFactorEnabled)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>Group of Education Branch</label>
                                        <input type="text" class="form-control" disabled="disabled" placeholder="City" value="@Html.DisplayFor(model => model.Student.GroupName).ToString().ToUpper()">
                                    </div>
                                </div>
                                <div class="col-md-4 px-1">
                                    <div class="form-group">
                                        <label>Country of Education Branch</label>
                                        <input type="text" class="form-control" disabled="disabled" placeholder="Country" value="UA/RU/EU">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>About Me</label>
                                        <textarea rows="4" cols="80" disabled="disabled" class="form-control" placeholder="Description of this Profile" value="">
@Html.DisplayFor(model => model.Student.FirstName) @Html.DisplayFor(model => model.Student.LastName), i am student of @Html.DisplayFor(model => model.Student.EducationUnitName), listener @Html.DisplayFor(model => model.Student.GroupName), my direction @Html.DisplayFor(model => model.Student.SpecializationName) in Academy Branch @Html.DisplayFor(model => model.Student.EducationUnitName).</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <a href="@Url.Action("Edit","StudentContent")" class="btn btn-warning btn-fill pull-right" id="edit_profile_btn" onclick="btnLimiter()">Edit Profile</a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="card-image">
                        <img src="@Url.Content("~/Design/studentRSS/assets/img/profileImage-min.jpg")" alt=" ">
                    </div>
                    <div class="card-body">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="@Url.Content("~/Design/ProfilePage/img/teacherLogo.jpg")" alt=" ">
                                <h5 class="title">@Html.DisplayFor(model => model.Student.FirstName).ToString().ToUpper() @Html.DisplayFor(model => model.Student.LastName).ToString().ToUpper()</h5>
                            </a>
                            <p class="description">
                                @Html.DisplayFor(model => model.Student.Email).ToString().ToUpper()
                            </p>
                        </div>
                        <p class="description text-center">
                            @Html.DisplayFor(model => model.Student.EducationUnitName).ToString().ToUpper()
                            <br />
                            @Html.DisplayFor(model => model.Student.SpecializationName)
                            <br />
                            @Html.DisplayFor(model => model.Student.GroupName)
                        </p>
                    </div>
                    <hr>
                    <div class="button-container mr-auto ml-auto">
                        <button href="@Url.Action("Profile","StudentContent")" class="btn btn-simple btn-link btn-icon">
                            <i class="fa fa-facebook-square"></i>
                        </button>
                        <button href="@Url.Action("Profile","StudentContent")" class="btn btn-simple btn-link btn-icon">
                            <i class="fa fa-twitter"></i>
                        </button>
                        <button href="@Url.Action("Profile","StudentContent")" class="btn btn-simple btn-link btn-icon">
                            <i class="fa fa-google-plus-square"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function btnLimiter() {
        var btn = document.getElementById('edit_profile_btn')
        setTimeout(function () {
            btn.setAttribute('disabled', 'disabled');
        }, 1);
        setTimeout(function () {
            btn.removeAttribute('disabled');
        }, 10000);
    }
</script>