@model IEnumerable<TestingSystem.BOL.Model.StudyingMaterialDTO>
@{ ViewBag.Title = "StudyingMaterials"; Layout = "~/Views/Shared/_StudentLayout.cshtml"; }
<head>
    <link href="@Url.Content("~/Design/adminForm/ImageBoxes/css/ui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design/adminForm/ImageBoxes/css/responsive.css")" rel="stylesheet" media="only screen and (max-width: 1200px)" />
</head>
@if (Model.Count() != 0)
{
    <body>
        <div class="row-sm">
            @if (Model.Count() != 0)
            {
                foreach (var item in Model)
                {
                    <div class="col-md-3 col-sm-6">
                        <figure class="card card-product">
                            <div class="img-wrap">
                                <a href="@Html.DisplayFor(modelItem => item.Link)">
                                    @if (item.SubjectName == "C#")
                                    {
                                        <img src="@Url.Content("~/Design/studentRSS/studyRSS/img/cSharpLogo.png")">
                                    }
                                    else if (item.SubjectName == "Java")
                                    {
                                        <img src="@Url.Content("~/Design/studentRSS/studyRSS/img/javaLogo.png")">
                                    }
                                    else if (item.SubjectName == "Python")
                                    {
                                        <img src="@Url.Content("~/Design/studentRSS/studyRSS/img/pythonLogo.png")">
                                    }
                                </a>
                            </div>
                            <figcaption class="info-wrap">
                                <a href="@Html.DisplayFor(modelItem => item.Link)" class="text-center">@item.StudyingMaterialName.ToUpper()</a>
                                <br /><br />
                                <a href="@Html.DisplayFor(modelItem => item.Link)" class="btn btn-primary" target="_blank">LINK TO RESOURCE</a>
                            </figcaption>
                        </figure>
                    </div>
                }
            }
        </div>
    </body>
}
else
{
    <div class="alert alert-info">
        No materials
    </div>
}