@model IEnumerable<TestingSystem.BOL.Model.StudyingMaterialDTO>

@{
    ViewBag.Title = "StudyingMaterials";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h2>Studying Materials</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudyingMaterialName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudyingMaterialName)
        </td>
        <td>
            <a href="@Html.DisplayFor(modelItem => item.Link)"> Link to resource </a>
        </td>
    </tr>
}

</table>
