@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content=" ">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="~/Design/StartPages/assets/images/ieslogo-182x93.png" type="image/x-icon">
    <meta name="description" content="Tests">
    <title>Tests</title>
    <link rel="stylesheet" href="@Url.Content("~/Design/StartPages/assets/web/assets/mobirise-icons2/mobirise2.css")">
    <link rel="stylesheet" href="@Url.Content("~/Design/StartPages/assets/web/assets/mobirise-icons-bold/mobirise-icons-bold.css")">
    <link rel="stylesheet" href="@Url.Content("~/Design/StartPages/assets/web/assets/mobirise-icons/mobirise-icons.css")">
    <link rel="stylesheet" href="@Url.Content("~/Design/StartPages/assets/tether/tether.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Design/StartPages/assets/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Design/StartPages/assets/bootstrap/css/bootstrap-grid.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Design/StartPages/assets/bootstrap/css/bootstrap-reboot.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Design/StartPages/assets/dropdown/css/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Design/StartPages/assets/animatecss/animate.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Design/StartPages/assets/theme/css/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Design/StartPages/assets/mobirise/css/mbr-additional.css")" type="text/css">
</head>
<body>
    <section class="menu cid-qTkzRZLJNu" once="menu" id="menu1-5">
        <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="menu-logo">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="@Url.Action("Tests","Education")#header10-8">
                            <img src="@Url.Content("~/Design/StartPages/assets/images/ieslogo-182x93.png")" alt="" title="" style="height: 3.8rem;">
                        </a>
                    </span>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item">
                        <a class="nav-link link text-white display-4" href="http://testingsystemapplication.azurewebsites.net/">
                        </a>
                    </li>
                    <li class="nav-item"><a class="nav-link link text-white display-4" href="@Url.Action("Home","Education")#header2-1"><span class="mbri-browse mbr-iconfont mbr-iconfont-btn"></span>Main</a></li>
                    <li class="nav-item"><a class="nav-link link text-white display-4" href="@Url.Action("Tests","Education")#header10-8"><span class="mbrib-code mbr-iconfont mbr-iconfont-btn"></span>Tests</a></li>
                    <li class="nav-item"><a class="nav-link link text-white display-4" href="@Url.Action("Home","Education")#header15-5"><span class="mbri-rocket mbr-iconfont mbr-iconfont-btn"></span>&nbsp;Partnership&nbsp;</a></li>
                    <li class="nav-item"><a class="nav-link link text-white display-4" href="@Url.Action("Employment","Education")#header6-9"><span class="mbri-briefcase mbr-iconfont mbr-iconfont-btn"></span>Employment</a></li>
                    <li class="nav-item"><a class="nav-link link text-white display-4" href="@Url.Action("Home","Education")#counters2-6"><span class="mobi-mbri mobi-mbri-briefcase mbr-iconfont mbr-iconfont-btn"></span>&nbsp;About System&nbsp;</a></li>
                    <li class="nav-item"><a class="nav-link link text-white display-4" href="@Url.Action("Home","Education")#footer2-5"><span class="mbrib-contact-form mbr-iconfont mbr-iconfont-btn"></span>Contacts</a></li>
                </ul>
                <div class="navbar-buttons mbr-section-btn">
                    <a class="btn btn-sm btn-primary display-4" href="http://testingsystemapplication.azurewebsites.net/">
                        <span class="mbrib-login mbr-iconfont mbr-iconfont-btn"></span>
                        Login
                    </a>
                </div>
            </div>
        </nav>
    </section>
    <section class="header10 cid-rAo44N3vd4 mbr-fullscreen mbr-parallax-background" id="header10-8">
        <div class="container">
            <div class="media-container-column mbr-white p-5 align-left col-lg-8 col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                    DEVELOPER TESTS
                </h1>
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    Whether or not you are an independently registered student on IES resources, you can take a test for developers in different areas and find out your level and what you need to know for further work in the IT field.
                </p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-primary display-4" href="@Url.Action("QuickTestSetup","Test")">START THE TEST</a></div>
            </div>
        </div>
        <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
            <a href="#next">
                <i class="mbri-down mbr-iconfont"></i>
            </a>
        </div>
    </section>
    <section class="mbr-section info2 cid-rAo5qBJQk0" id="info2-e">
        <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(35, 35, 35);">
        </div>
        <div class="container">
            <div class="row main justify-content-center">
                <div class="media-container-column col-12 col-lg-3 col-md-4">
                    <div class="mbr-section-btn align-left py-4"><a class="btn btn-primary display-4" href="@Url.Action("Employment","Education")">APPLY NOW</a></div>
                </div>
                <div class="media-container-column title col-12 col-lg-7 col-md-6">
                    <h2 class="align-right mbr-bold mbr-white pb-3 mbr-fonts-style display-2">We need you</h2>
                    <h3 class="mbr-section-subtitle align-right mbr-light mbr-white mbr-fonts-style display-5">Join the professional team of IES developers!</h3>
                </div>
            </div>
        </div>
    </section>
    <script src="@Url.Content("~/Design/StartPages/assets/web/assets/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Design/StartPages/assets/tether/tether.min.js")"></script>
    <script src="@Url.Content("~/Design/StartPages/assets/popper/popper.min.js")"></script>
    <script src="@Url.Content("~/Design/StartPages/assets/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Design/StartPages/assets/smoothscroll/smooth-scroll.js")"></script>
    <script src="@Url.Content("~/Design/StartPages/assets/dropdown/js/nav-dropdown.js")"></script>
    <script src="@Url.Content("~/Design/StartPages/assets/dropdown/js/navbar-dropdown.js")"></script>
    <script src="@Url.Content("~/Design/StartPages/assets/viewportchecker/jquery.viewportchecker.js")"></script>
    <script src="@Url.Content("~/Design/StartPages/assets/parallax/jarallax.min.js")"></script>
    <script src="@Url.Content("~/Design/StartPages/assets/touchswipe/jquery.touch-swipe.min.js")"></script>
    <script src="@Url.Content("~/Design/StartPages/assets/theme/js/script.js")"></script>
    <input name="animation" type="hidden">
    <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
</body>
</html>