@model TestingSystem.Web.Models.ViewModels.CreateQuestionViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Question", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Question.Id)
        @Html.HiddenFor(model => model.Question.QuestionImageId)

        <div class="form-group">
            @Html.LabelFor(model => model.Question.QuestionString, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Question.QuestionString, rows: 5, columns: 100, htmlAttributes: new { @class = "form-control", maxlength = 500 })
                @Html.ValidationMessageFor(model => model.Question.QuestionString, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Question.SpecializationName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownList("SpecializationId", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Question.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="file" id="file">
            </div>
        </div>

        <div class="form-group" id="answer-cont-master">
            <div class="col-md-10">
                <table id="answer-cont">
                    <tr>
                        <th>Answer</th>
                        <th></th>
                    </tr>

                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="button" class="btn-default" id="add-item" title="Add answer"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            id = 0;
            $("#answer-cont-master").hide();

            $("#add-item").click(function () {
                $("#answer-cont-master").show();
                html = "<tr> <td> <input type='text'/> </td> </tr>"
                //html = "<tr>" +
                //            `<td> <input type="text"  id="Answers_${id}__Id" name="Answers[${id}].Id"/> </td>` +
                //       "</tr>";
                $.ajax({
                    url: this.href,
                    cache: false,
                    success: function () { $("#answer-cont").append(html); }
                });
                return false;
            });

            //id="Answers_0__Id" name="Answers[0].Id"
        });
    </script>
}
