@model TestingSystem.BOL.Model.QuestionDTO

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Question", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.QuestionImageId)

        <div class="form-group">
            @Html.LabelFor(model => model.QuestionString, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.QuestionString, rows: 5, columns: 100, htmlAttributes: new { @class = "form-control", maxlength = 500 })
                @Html.ValidationMessageFor(model => model.QuestionString, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.SpecializationName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownList("SpecializationId", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" accept="image/*" name="file" id="file" />
                <input type="button" value="Discard" id="btn-discard" style="margin-left: 20px;" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.Label("Image: ")
                <div>
                    <img id="output" src="@Model.ImagePath" style="max-height: 250px; max-width: 250px;" />
                </div>
            </div>
        </div>

        <div class="form-group" id="answer-cont-master">
            <div class="col-md-10">
                <table id="answer-cont">
                    <tbody>
                        <tr>
                            <th>Answers</th>
                            <th>IsCorrect</th>
                            <th>Action</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $("#btn-discard").click(function () {
                $("#file").val("");
                $("#output").attr("src", "@Model.ImagePath");
            });

            $("#file").change(function (e) {
                $("#output").attr("src", URL.createObjectURL(e.target.files[0]));
            });
        });
    </script>
}
