
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Questions</h2>
@Html.DropDownList("SpecializationId", null, new { @class = "form-control", id = "filter-input" })
<div id="partial-content">
</div>
<div class="tooltip">
    item.Id
    <span class="tooltiptext">item.QuestionString</span>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#partial-content").load("@Url.Action("PartialIndex", "Question", new { id = 0})");

            $("body").on("click", ".btn-delete", function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete", "Question")",
                    data: { id: $(this).attr("data-id") },
                    success: function (data) {
                        $("#partial-content").load("@Url.Action("PartialIndex", "Question")");
                        $("#div-info").empty();
                        $("#div-info").append(data);
                        setTimeout(function () {
                            $("#div-info").empty();
                        }, 3500);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("An error occured while processing request");
                    }
                });
            });

            $("body").on("change", "#filter-input", function () {
                $("#partial-content").load("@Url.Action("PartialIndex", "Question")", { filter : $(this).val()});
            });
        });

    </script>
}