@model IEnumerable<TestingSystem.BOL.Model.QuestionDTO>

<p>
    @Html.ActionLink("Create New", "Create", new { specId = ViewBag.SpecializationId })
</p>
@if (Model.Count() != 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecializationName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div tooltip="@item.QuestionString">
                        @Html.DisplayFor(modelItem => item.Id)
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecializationName)
                </td>
                <td>
                    @Html.ActionLink("Answers", "Answers", new { id = item.Id }) |
                    @Html.ActionLink("Edit", "Edit", new { questionId = item.Id, specId = item.SpecializationId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn-delete", data_id = item.Id })
                </td>
            </tr>
        }

    </table>
}
else
{
    <div class="alert-info">
        No questions
    </div>
}