@{ ViewBag.Title = "Tests"; Layout = "~/Views/Shared/_TeacherLayout.cshtml"; }
<div style="background-color: white;">
    <h2>Tests</h2>
    <input type="text" id="filter-input" class="form-control" />
    <div id="partial-content">
    </div>
</div>
@section Scripts{
    <script src="@Url.Content("~/Design/adminForm/vendor/jquery-3.2.1.min.js")"></script>
    <script src="@Url.Content("https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-notify.js")"></script>
    <script type="text/javascript">
        $(function () {
            $("#partial-content").load("@Url.Action("PartialIndex", "Test")");

            $("body").on("click", ".btn-delete", function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete", "Test")",
                    data: { id: $(this).attr("data-id") },
                    success: function (data) {
                        $("#partial-content").load("@Url.Action("PartialIndex", "Test")");
                        $.notify({
	                        message: data
                        },{
	                        type: 'success'
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $.notify({
	                        message: "An error occured while processing your request"
                        },{
	                        type: 'danger'
                        });
                    }
                });
            });

            $("body").on("click", ".btn-delete-forever", function (e) {
                e.preventDefault();
                if (confirm("Are you sure? You will lose all history about this test and students")) {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("DeleteForever", "Test")",
                        data: { id: $(this).attr("data-id") },
                        success: function (data) {
                            $("#partial-content").load("@Url.Action("PartialIndex", "Test")");
                            $.notify({
                                message: data
                            }, {
                                    type: 'success'
                                });
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $.notify({
                                message: "An error occured while processing your request"
                            }, {
                                    type: 'danger'
                                });
                        }
                    });
                }
            });

            $("body").on("click", ".btn-restore", function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Restore", "Test")",
                    data: { id: $(this).attr("data-id") },
                    success: function (data) {
                        $("#partial-content").load("@Url.Action("PartialIndex", "Test")");
                        $.notify({
	                        message: data
                        },{
	                        type: 'success'
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $.notify({
	                        message: "An error occured while processing your request"
                        },{
	                        type: 'danger'
                        });
                    }
                });
            });

            $("body").on("keypress", "#filter-input", function (e) {
                if (e.which == 13)
                    $("#partial-content").load("@Url.Action("PartialIndex", "Test")", { filter : $(this).val()});
            });
        });

    </script>
}
