@model IEnumerable<TestingSystem.BOL.Model.TestDTO>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item"><a id="current-tab" class="nav-link active" role="tab" data-toggle="tab" href="#current" aria-controls="current" aria-selected="true">Current tests</a></li>
    <li class="nav-item"><a id="deleted-tab" class="nav-link" role="tab" data-toggle="tab" href="#deleted" aria-controls="deleted" aria-selected="false">Deleted tests</a></li>
</ul>
<div class="tab-content">
    <div id="current" class="tab-pane fade in show active" role="tabpanel" aria-labelledby="current-tab">
        @if (Model.Count() != 0)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TestName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SubjectName)
                                    </th>
                                    <th>
                                        Questions
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TestName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SubjectName)
                                        </td>
                                        <td>
                                            <span style="margin:3px;">@item.EasyCount E</span>
                                            <span style="margin:3px;">@item.EasyCount M</span>
                                            <span style="margin:3px;">@item.EasyCount H</span>
                                        </td>
                                        <td align="center">
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn-delete btn btn-default btn-sm", data_id = item.Id })
                                            @Html.ActionLink("Assign groups", "AssignGroups", "GroupsInTest", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })
                                            @Html.ActionLink("Groups", "Groups", "GroupsInTest", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="alert-info">
                No tests
            </div>
        }
    </div>
    <div id="deleted" class="tab-pane fade" role="tabpanel" aria-labelledby="deleted-tab">
        @if (((ViewBag.DeletedTests as IEnumerable<TestingSystem.BOL.Model.TestDTO>)?.Count() ?? 0) != 0)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TestName)
                                    </th>
                                    <th> 
                                        @Html.DisplayNameFor(model => model.SubjectName)
                                    </th>
                                    <th>
                                        Questions
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.DeletedTests as IEnumerable<TestingSystem.BOL.Model.TestDTO>)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TestName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SubjectName)
                                        </td>
                                        <td>
                                            <span style="margin:3px;">@item.EasyCount E</span>
                                            <span style="margin:3px;">@item.EasyCount M</span>
                                            <span style="margin:3px;">@item.EasyCount H</span>
                                        </td>
                                        <td align="center">
                                            @Html.ActionLink("Restore", "Restore", "Test", new { id = item.Id }, new { @class = "btn btn-default btn-sm btn-restore", data_id = item.Id })
                                            @Html.ActionLink("Groups", "Groups", "GroupsInTest", new { id = item.Id }, new { @class = "btn btn-default btn-sm" })
                                            @Html.ActionLink("Delete forever", "DeleteForever", "Test", new { id = item.Id }, new { @class = "btn btn-danger btn-sm btn-delete-forever", data_id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="alert-info">
                No tests
            </div>
        }
    </div>
</div>