@model TestingSystem.Web.Models.Identity.ExternalLoginVerificationViewModel
@{ ViewBag.Title = "Verification"; }
<h2>@ViewBag.Title.</h2>
<h3>Associate your @ViewBag.LoginProvider account.</h3>
@using (Html.BeginForm("ExternalLoginVerification", "Account", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Email)
    @Html.HiddenFor(model => model.VerificationCode)
    <h4>Association Form</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        We have sent a message with 6-digit code to your email.<br/>
        Please enter your code below
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.InputCode, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.InputCode, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.InputCode, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Continue" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}