@{ ViewBag.Title = "Materials"; Layout = "~/Views/Shared/_TeacherLayout.cshtml"; }
<div style="background-color: white;">
    <h2>Materials</h2>
    <input type="text" id="filter-input" class="form-control" />
    <div id="partial-content">
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
@section Scripts{
    <script src="@Url.Content("~/Scripts/bootstrap-notify.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            $("#partial-content").load("@Url.Action("PartialIndex", "StudyingMaterial")");
            $("body").on("click", ".btn-delete", function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete", "StudyingMaterial")",
                    data: { id: $(this).attr("data-id") },
                    success: function (data) {
                        $("#partial-content").load("@Url.Action("PartialIndex", "StudyingMaterial")");
                        $.notify({
	                        message: data
                        },{
	                        type: 'success'
                        });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $.notify({
	                        message: "An error occured while processing your request"
                        },{
	                        type: 'danger'
                        });
                    }
                });
            });
            $("body").on("keypress", "#filter-input", function (e) {
                if (e.which == 13)
                    $("#partial-content").load("@Url.Action("PartialIndex", "StudyingMaterial")", { filter : $(this).val()});
            });
        });
    </script>
}