@model TestingSystem.Web.Models.ViewModels.EditAdminViewModel
@{ ViewBag.Title = "Profile"; Layout = "~/Views/Shared/_GlobalAdminLayout.cshtml"; }
<h2>Profile</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Admin.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admin.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admin.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admin.EducationUnitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin.EducationUnitName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTwoFactorEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTwoFactorEnabled)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit") |
    @Html.ActionLink("Change password", "ChangePassword", "Account") |
    @Html.ActionLink("Manage external logins", "ManageLogins", "Account")
</p>